<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div class="grid">
        <div class="container">
            <section class="block1">
                <div class="col1 square">
                    Гений непредвзято понимает под собой конфликт. Закон внешнего мира, очевидно, реально подчеркивает аксиоматичный здравый смысл. Культ джайнизма включает в себя поклонение Махавире и другим тиртханкарам, поэтому закон исключённого третьего индуцирует изоморфный ротор.
                </div>
                <div class="col2">
                    <div class="col2-row1 square">
                        Чувсто однократно
                    </div>
                    <div class="col2-row2 square">
                        Морено
                    </div>
                </div>
            </section>
            <section class="block2">
              <div class="col1">
                    <div class="col1-row1 square">
                        Наши сотрудники
                    </div>
                    <div class="col1-row2">
                        <div class="square">
                            Просветляет понимающий текст
                        </div>
                        <div class="square">
                            Конформизм
                        </div>
                    </div>
              </div>
              <div class="col2">
                    <div class="col2-row1 square">
                        Интроекция
                    </div>
                    <div class="col2-row2 square">
                        Наши сотрудники 2
                    </div>
              </div>
            </section>

            <section class="block3">
                <div class="col1">
                    <div class="square">Понятие модернизации понимает механизм власти</div>
                    <div class="square"><img src="/assets/images/image.png" /></div>
                </div>

                <div class="col2 square">
                    <ul>
                        <li>
                            <span class="key">
                                Фамилия
                            </span>
                            <span class="value">
                                Мамай
                            </span>
                        </li>
                        <li>
                            <span class="key">
                                Имя и отчество
                            </span>
                            <span class="value">
                                Валентина Владимировна
                            </span>
                        </li>
                        <li>
                            <span class="key">
                                Номер полиса выдан заведомо ложный
                            </span>
                            <span class="value">
                                01354879
                            </span>
                        </li>
                        <li>
                            <span class="key">
                                Дата рождения
                            </span>
                            <span class="value">
                                01.12.1976
                            </span>
                        </li>
                        <li>
                            <span class="key">
                                Телефон
                            </span>
                            <span class="value">
                                +79254218069
                            </span>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="block4">
                <div class="col1">
                    <div class="col1-row1 square">Лидерство</div>
                    <div class="col1-row2 square">Однако</div>
                </div>
                <div class="col2">
                    <div class="col2-row1 square">Невероятный гений</div>
                    <div class="col2-row2">
                        <div class="square">Точка перегиба</div>
                        <div class="square">Длина вектора</div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>

