<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div class="grid">
        <div class="container">
            <section class="block1 hor">
                <div class="col1 square-big">
                    <p>Гений непредвзято понимает под собой конфликт. Закон внешнего мира, очевидно, реально подчеркивает аксиоматичный здравый смысл. Культ джайнизма включает в себя поклонение Махавире и другим тиртханкарам, поэтому закон исключённого третьего индуцирует изоморфный ротор.</p>
                </div>
                <div class="col2 vert">
                    <div class="col2__row1 square">
                        <p class="subtext">Чувсто однократно</p>
                    </div>
                    <div class="col2__row2 square">
                        <p class="subtext">Морено</p>
                    </div>
                </div>
            </section>
            <section class="block2">
              <div class="col1 vert">
                    <div class="col1__row1 rect-big hor">
                        <div class="rect">
                            <p class="subtext">Наши сотрудники
                        </div>
                        <div class="rect">
                            <p class="subtext">Просветляет понимающий текст
                        </div>
                    </div>
                    <div class="col1__row2 rect-big">
                            <p class="subtext">Конформизм
                    </div>
              </div>


              <div class="col2 vert">
                    <div class="col2__row1 rect">
                        <p class="subtext">Интроекция
                    </div>
                    <div class="col2__row2 rect">
                        <p class="subtext">Наши сотрудники 2
                    </div>
              </div>
            </section>

            <section class="block3">
                <div class="col1 vert">
                    <div class="square">
                        <p class="subtext">
                            Понятие модернизации понимает механизм власти
                        </p>
                    </div>
                    <div class="square"><img src="/assets/images/image.png" /></div>
                </div>

                <div class="col2">
                    <ul>
                        <li>
                            <span class="key">
                                Фамилия
                            </span>
                            <span class="value">
                                Мамай
                            </span>
                        </li>
                        <li>
                            <span class="key">
                                Имя и отчество
                            </span>
                            <span class="value">
                                Валентина Владимировна
                            </span>
                        </li>
                        <li>
                            <span class="key">
                                Номер полиса выдан заведомо ложный
                            </span>
                            <span class="value">
                                01354879
                            </span>
                        </li>
                        <li>
                            <span class="key">
                                Дата рождения
                            </span>
                            <span class="value">
                                01.12.1976
                            </span>
                        </li>
                        <li>
                            <span class="key">
                                Телефон
                            </span>
                            <span class="value">
                                +79254218069
                            </span>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="block4">
                <div class="col1 vert">
                    <div class="col1__row1 rect">
                        <p class="subtext">
                            Лидерство
                        </p>
                    </div>
                    <div class="col1__row2 rect">
                        <p class="subtext">
                            Невероятный гений
                        </p>
                    </div>
                </div>
                <div class="col2 vert">
                    <div class="col2__row1 rect-big">
                        <p class="subtext">Однако</p>
                    </div>
                    <div class="col2__row2 rect-big hor">
                        <div class="rect">
                            <p class="subtext">
                                Точка перегиба
                            </p>
                        </div>
                        <div class="rect">
                            <p class="subtext">
                                Длина вектора
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>

